SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

MQTT_URL=
MQTT_CLIENT_ID=
MQTT_USERNAME=
MQTT_PASSWORD=

ALERTER_SMTP_HOST=
ALERTER_SMTP_PORT=
ALERTER_SMTP_USERNAME=
ALERTER_SMTP_PASSWORD=
ALERTER_SMTP_START_TLS=true
ALERTER_SMTP_AUTH=true
ALERTER_FROM_EMAIL=
